/*Reset CSS */

* {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
}
/*--------*/

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    135deg,
    rgba(6, 147, 227, 1) 0%,
    rgb(155, 81, 224) 100%
  );
}

.topo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.topo .primeiro {
  display: flex;
}
.topo .primeiro img {
  height: 50px;
  width: 50px;
  margin-top: -12px;
}

.topo .primeiro p {
  font-size: 15px;
  margin: 4px -18px 0 9px;
  word-break: keep-all;
  width: 95px;
}
.horario {
  text-align: center;
  margin-top: 1px;
}
.topo .ultimo {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.nome-empresa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 7%;
  margin-bottom: 70%;
  animation: rodar 2s infinite;
}

.lembrar-depois {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-right: 53%;
  margin-bottom: 11%;
  align-items: center;
  text-align: center;
}
.lembrar-depois img {
  width: 60px;
  height: 50px;
}

.ligacao {
  display: flex;
  justify-content: space-between;
}

.ligacao img {
  width: 80px;
  animation: pulsar 8s infinite;
  border-radius: 100%;
}

.aceitar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 16px;
}

/* ANIMAÇÕES*/
@keyframes pulsar {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  5% {
    box-shadow: 0 0 0 40px rgba(255, 0, 0, 0.2);
  }
  10% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  15% {
    box-shadow: 0 0 0 20px rgba(55, 0, 255, 0.2);
  }
  20% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  25% {
    box-shadow: 0 0 0 40px rgba(225, 250, 4, 0.2);
  }
  30% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  35% {
    box-shadow: 0 0 0 20px rgba(17, 0, 255, 0.2);
  }
  40% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  45% {
    box-shadow: 0 0 0 40px rgba(0, 255, 42, 0.2);
  }
  50% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  55% {
    box-shadow: 0 0 0 20px rgba(255, 0, 221, 0.2);
  }
  60% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  65% {
    box-shadow: 0 0 0 40px rgba(255, 0, 0, 0.2);
  }
  70% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
  }
  75% {
    box-shadow: 0 0 0 20px rgba(217, 255, 0, 0.2);
  }
  80% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
  }
  85% {
    box-shadow: 0 0 0 40px rgba(55, 0, 255, 0.2);
  }
  90% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
  }
  95% {
    box-shadow: 0 0 0 20px rgba(0, 255, 42, 0.2);
  }
  100% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
  }
}

@keyframes rodar {
  0% {
    transform: translate(0, 0);
  }
  33% {
    transform: translate(10px, 0);
  }
  66% {
    transform: translate(-10px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
